In [1]:
%matplotlib inline
import pandas as pd
import matplotlib as plt
import sklearn as skl
import tensorflow as tf

          Source         Target  Weight            typeTrans  fraud
0  'C1093826151'   'M348934600'    4.55  'es_transportation'      0
1   'C352968107'   'M348934600'   39.68  'es_transportation'      0
2  'C2054744914'  'M1823072687'   26.89  'es_transportation'      0
3  'C1760612790'   'M348934600'   17.25  'es_transportation'      0
4   'C757503768'   'M348934600'   35.72  'es_transportation'      0

In [ ]:
# Load in csv
# fraud1_df = pd.read_csv("./Resources/bsNET140513_032310.csv")
# fraud1_df.head()

In [3]:
# fraud2_df = pd.read_csv("./Resources/bs140513_032310.csv")
# fraud2_df.head()

,step,customer,age,gender,zipcodeOri,merchant,zipMerchant,category,amount,fraud
0,0,'C1093826151','4','M','28007','M348934600','28007','es_transportation',4.55,0
1,0,'C352968107','2','M','28007','M348934600','28007','es_transportation',39.68,0
2,0,'C2054744914','4','F','28007','M1823072687','28007','es_transportation',26.89,0
3,0,'C1760612790','3','M','28007','M348934600','28007','es_transportation',17.25,0
4,0,'C757503768','5','M','28007','M348934600','28007','es_transportation',35.72,0

In [4]:
# cc_df = pd.read_csv("./Resources/creditcard.csv")
# cc_df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [12]:
ealtman2019_df = pd.read_csv("./Resources//ealtman2019/credit_card_transactions-ibm_v2.csv")
ealtman2019_df.head()

,User,Card,Year,Month,Day,Time,Amount,Use Chip,Merchant Name,Merchant City,Merchant State,Zip,MCC,Errors?,Is Fraud?
0,0,0,2002,9,1,06:21,$134.09,Swipe Transaction,3527213246127876953,La Verne,CA,91750.0,5300,NaN,No
1,0,0,2002,9,1,06:42,$38.48,Swipe Transaction,-727612092139916043,Monterey Park,CA,91754.0,5411,NaN,No
2,0,0,2002,9,2,06:22,$120.34,Swipe Transaction,-727612092139916043,Monterey Park,CA,91754.0,5411,NaN,No
3,0,0,2002,9,2,17:45,$128.95,Swipe Transaction,3414527459579106770,Monterey Park,CA,91754.0,5651,NaN,No
4,0,0,2002,9,3,06:23,$104.71,Swipe Transaction,5817218446178736267,La Verne,CA,91750.0,5912,NaN,No

In [11]:
ealtman2019_df.shape

(24386900, 15)

In [9]:
ealtman2019_df["Is Fraud?"].nunique()

2

In [13]:
ealtman2019_df["Errors?"].nunique()

23

In [16]:
Unique_Error_df = (ealtman2019_df["Errors?"].unique())
Unique_Error_df

array([nan, 'Technical Glitch', 'Insufficient Balance', 'Bad PIN',
       'Bad PIN,Insufficient Balance', 'Bad Expiration',
       'Bad PIN,Technical Glitch', 'Bad Card Number', 'Bad CVV',
       'Bad Zipcode', 'Insufficient Balance,Technical Glitch',
       'Bad Card Number,Insufficient Balance', 'Bad Card Number,Bad CVV',
       'Bad CVV,Insufficient Balance', 'Bad Card Number,Bad Expiration',
       'Bad Expiration,Bad CVV', 'Bad Expiration,Insufficient Balance',
       'Bad Expiration,Technical Glitch',
       'Bad Card Number,Bad Expiration,Technical Glitch',
       'Bad CVV,Technical Glitch', 'Bad Card Number,Technical Glitch',
       'Bad Zipcode,Insufficient Balance', 'Bad Zipcode,Technical Glitch',
       'Bad Card Number,Bad Expiration,Insufficient Balance'],
      dtype=object)

In [17]:
ealtman2019_df["Year"].unique()

array([2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012,
       2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 1999, 2000, 2001,
       1998, 1996, 1997, 1995, 1994, 1991, 1992, 1993], dtype=int64)

In [ ]:
# ealtman2019_rounded_df = 
# cents_int = int(round(float(dollars.strip('$'))*100))

In [19]:
types = ealtman2019_df.dtypes
types

User                int64
Card                int64
Year                int64
Month               int64
Day                 int64
Time               object
Amount             object
Use Chip           object
Merchant Name       int64
Merchant City      object
Merchant State     object
Zip               float64
MCC                 int64
Errors?            object
Is Fraud?          object
dtype: object

In [30]:
# ealtman2019_df['amount'] = ealtman2019_df.to_numeric(ealtman2019_df['amount'])
# ealtman2019_df['amount'] = ealtman2019_df.int(round(float(amount.strip('$'))))
# ealtman2019_df['amount'] = ealtman2019_df(['amount'].strip('$'))
ealtman2019_df['Amount'] = ealtman2019_df['Amount'].str.replace("$","")

C:\Users\Aaron\AppData\Local\Temp\ipykernel_19116\120783198.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  ealtman2019_df['Amount'] = ealtman2019_df['Amount'].str.replace("$","")

In [29]:
ealtman2019_df["Amount"].unique()

array(['$134.09', '$38.48', '$120.34', ..., '$588.73', '$1201.00',
       '$584.63'], dtype=object)

In [32]:
ealtman2019_df['Amount'] = ealtman2019_df["Amount"].astype(float)
# ds["cat"] = ds["cat"].astype(int)

In [33]:
ealtman2019_df['Amount'] = ealtman2019_df["Amount"].round(decimals = 0)

In [36]:
ealtman2019_df['Amount'] = ealtman2019_df['Amount'].astype(int)

In [37]:
ealtman2019_df['Amount'].head()

0    134
1     38
2    120
3    129
4    105
Name: Amount, dtype: int32

In [38]:
ealtman2019_df["Use Chip"].unique()

array(['Swipe Transaction', 'Online Transaction', 'Chip Transaction'],
      dtype=object)

In [40]:
ealtman2019_df["Merchant State"].nunique()

223

In [41]:
ealtman2019_df["User"].nunique()

2000

In [42]:
ealtman2019_df["Card"].nunique()

9

In [43]:
ealtman2019_df["Card"].unique()

array([0, 1, 2, 3, 4, 5, 6, 7, 8], dtype=int64)

In [44]:
ealtman2019_df['Amount'].min()

-500

In [45]:
ealtman2019_df['Amount'].max()

12390

In [52]:
# ealtman2019_df[['Amount'] < 0].count()
negative_amount = (ealtman2019_df['Amount'] < 0).count()
negative_amount

24386900

In [57]:
limit = 0
column = ealtman2019_df['Amount']
count_under = column[column < limit].count()
count_under

1244559

In [58]:
limit = 0
count_over = column[column > limit].count()
count_over

22964731

In [60]:
count_zero = column[column == limit].count()
count_zero

177610

In [61]:
count = count_over + count_under + count_zero
count

24386900