In [48]:
%matplotlib inline
import pandas as pd
import matplotlib as plt
import sklearn as skl
import tensorflow as tf
from sklearn.preprocessing import OneHotEncoder

In [2]:
# Load in csv
# fraud1_df = pd.read_csv("./Resources/bsNET140513_032310.csv")
# fraud1_df.head()

In [3]:
# fraud2_df = pd.read_csv("./Resources/bs140513_032310.csv")
# fraud2_df.head()

In [4]:
# cc_df = pd.read_csv("./Resources/creditcard.csv")
# cc_df.head()

In [5]:
ealtman2019_df = pd.read_csv("./Resources//ealtman2019/credit_card_transactions-ibm_v2.csv")
ealtman2019_df.head()

,User,Card,Year,Month,Day,Time,Amount,Use Chip,Merchant Name,Merchant City,Merchant State,Zip,MCC,Errors?,Is Fraud?
0,0,0,2002,9,1,06:21,$134.09,Swipe Transaction,3527213246127876953,La Verne,CA,91750.0,5300,NaN,No
1,0,0,2002,9,1,06:42,$38.48,Swipe Transaction,-727612092139916043,Monterey Park,CA,91754.0,5411,NaN,No
2,0,0,2002,9,2,06:22,$120.34,Swipe Transaction,-727612092139916043,Monterey Park,CA,91754.0,5411,NaN,No
3,0,0,2002,9,2,17:45,$128.95,Swipe Transaction,3414527459579106770,Monterey Park,CA,91754.0,5651,NaN,No
4,0,0,2002,9,3,06:23,$104.71,Swipe Transaction,5817218446178736267,La Verne,CA,91750.0,5912,NaN,No

In [6]:
ealtman2019_df.shape

(24386900, 15)

In [77]:
ealtman2019_df["Merchant State"].nunique()

223

In [78]:
ealtman2019_df["Merchant State"].unique()

array(['CA', nan, 'NE', 'IL', 'MO', 'Switzerland', 'IA', 'TX', 'Estonia',
       'NJ', 'NV', 'NY', 'Japan', 'AZ', 'UT', 'FL', 'MI', 'Mexico', 'WA',
       'OH', 'Dominican Republic', 'NM', 'China', 'SC', 'AK', 'PA', 'VA',
       'Portugal', 'HI', 'CT', 'MA', 'MN', 'CO', 'Italy', 'GA',
       'Philippines', 'Jamaica', 'AR', 'Canada', 'OR', 'WI', 'NC',
       'France', 'WV', 'Norway', 'ME', 'NH', 'VT', 'MD', 'AL', 'KY', 'TN',
       'MS', 'New Zealand', 'Netherlands', 'KS', 'ND', 'DC',
       'Sierra Leone', 'Haiti', 'MT', 'South Korea', 'Spain', 'OK',
       'Algeria', 'Egypt', 'WY', 'ID', 'Indonesia', 'RI',
       'United Kingdom', 'Colombia', 'South Africa', 'IN', 'The Bahamas',
       'Singapore', 'Pakistan', 'Malaysia', 'Mongolia', 'Israel',
       'Hong Kong', 'Guatemala', 'Peru', 'Thailand', 'Sweden', 'Taiwan',
       'LA', 'Germany', 'Czech Republic', 'India', 'Poland', 'DE',
       'Costa Rica', 'Denmark', 'Bangladesh', 'Macedonia', 'Nigeria',
       'SD', 'Tuvalu', 'Ireland', 'Vatican City', 'Lithuania',
       'Papua New Guinea', 'Belgium', 'Benin', 'Croatia', 'Saudi Arabia',
       'Latvia', 'Austria', 'Slovenia', 'Turkey', 'Russia', 'Greece',
       'Slovakia', 'Brazil', 'Hungary', 'Argentina', 'Serbia', 'Ghana',
       'Oman', 'United Arab Emirates', 'Finland', 'Barbados', 'Australia',
       'Vietnam', 'Micronesia', 'Aruba', 'Liechtenstein', 'Cambodia',
       'Kosovo', 'South Sudan', 'Luxembourg', 'Myanmar (Burma)',
       'Maldives', 'Samoa', 'Burkina Faso', 'Moldova', 'Eritrea', 'Chile',
       'Belarus', 'Venezuela', 'Georgia', 'Tanzania', 'Iceland', 'Iran',
       'Honduras', 'Sao Tome and Principe', 'Kenya', 'Kiribati', 'Fiji',
       'Kuwait', 'Uzbekistan', 'Romania', 'Panama', 'AA', 'Ethiopia',
       'Zimbabwe', 'Ecuador', 'Cyprus', 'Djibouti', 'Cameroon', 'Yemen',
       'Uruguay', 'Nicaragua', 'Swaziland', 'Sri Lanka', 'Morocco',
       'Malawi', 'Togo', 'Monaco', 'Lebanon', 'Cabo Verde', 'Suriname',
       'Mozambique', 'Liberia', 'Ukraine', 'Somalia', 'El Salvador',
       'Azerbaijan', 'Bulgaria', 'Jordan', 'Botswana', 'Senegal',
       'Bahrain', 'Sudan', 'Niger', 'Albania', 'Mali', 'Tunisia',
       'Saint Vincent and the Grenadines', 'Marshall Islands',
       'Republic of the Congo', 'Bosnia and Herzegovina', 'Syria',
       'Montenegro', 'Iraq', 'Uganda', 'Guinea', 'Gabon',
       'Equatorial Guinea', 'Brunei', 'Vanuatu', 'Saint Lucia',
       "Cote d'Ivoire", 'Comoros', 'Guyana', 'Malta', 'Solomon Islands',
       'Belize', 'Nauru', 'Trinidad and Tobago', 'Zambia',
       'Democratic Republic of the Congo', 'Dominica', 'Paraguay',
       'Tonga', 'Angola', 'Kyrgyzstan', 'Antigua and Barbuda',
       'Central African Republic', 'Qatar', 'East Timor (Timor-Leste)',
       'Seychelles', 'Andorra'], dtype=object)

In [7]:
ealtman2019_df["Is Fraud?"].nunique()

2

In [8]:
ealtman2019_df["Errors?"].nunique()

23

In [9]:
Unique_Error_df = (ealtman2019_df["Errors?"].unique())
Unique_Error_df

array([nan, 'Technical Glitch', 'Insufficient Balance', 'Bad PIN',
       'Bad PIN,Insufficient Balance', 'Bad Expiration',
       'Bad PIN,Technical Glitch', 'Bad Card Number', 'Bad CVV',
       'Bad Zipcode', 'Insufficient Balance,Technical Glitch',
       'Bad Card Number,Insufficient Balance', 'Bad Card Number,Bad CVV',
       'Bad CVV,Insufficient Balance', 'Bad Card Number,Bad Expiration',
       'Bad Expiration,Bad CVV', 'Bad Expiration,Insufficient Balance',
       'Bad Expiration,Technical Glitch',
       'Bad Card Number,Bad Expiration,Technical Glitch',
       'Bad CVV,Technical Glitch', 'Bad Card Number,Technical Glitch',
       'Bad Zipcode,Insufficient Balance', 'Bad Zipcode,Technical Glitch',
       'Bad Card Number,Bad Expiration,Insufficient Balance'],
      dtype=object)

In [10]:
ealtman2019_df["Year"].unique()

array([2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012,
       2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 1999, 2000, 2001,
       1998, 1996, 1997, 1995, 1994, 1991, 1992, 1993], dtype=int64)

In [11]:
# ealtman2019_rounded_df = 
# cents_int = int(round(float(dollars.strip('$'))*100))

In [12]:
types = ealtman2019_df.dtypes
types

User                int64
Card                int64
Year                int64
Month               int64
Day                 int64
Time               object
Amount             object
Use Chip           object
Merchant Name       int64
Merchant City      object
Merchant State     object
Zip               float64
MCC                 int64
Errors?            object
Is Fraud?          object
dtype: object

In [13]:
# ealtman2019_df['amount'] = ealtman2019_df.to_numeric(ealtman2019_df['amount'])
# ealtman2019_df['amount'] = ealtman2019_df.int(round(float(amount.strip('$'))))
# ealtman2019_df['amount'] = ealtman2019_df(['amount'].strip('$'))
ealtman2019_df['Amount'] = ealtman2019_df['Amount'].str.replace("$","")

C:\Users\Aaron\AppData\Local\Temp\ipykernel_24748\120783198.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  ealtman2019_df['Amount'] = ealtman2019_df['Amount'].str.replace("$","")

In [14]:
ealtman2019_df["Amount"].unique()

array(['134.09', '38.48', '120.34', ..., '588.73', '1201.00', '584.63'],
      dtype=object)

In [15]:
ealtman2019_df['Amount'] = ealtman2019_df["Amount"].astype(float)
# ds["cat"] = ds["cat"].astype(int)

In [16]:
ealtman2019_df['Amount'] = ealtman2019_df["Amount"].round(decimals = 0)

In [17]:
ealtman2019_df['Amount'] = ealtman2019_df['Amount'].astype(int)

In [18]:
ealtman2019_df['Amount'].head()

0    134
1     38
2    120
3    129
4    105
Name: Amount, dtype: int32

In [19]:
ealtman2019_df["Use Chip"].unique()

array(['Swipe Transaction', 'Online Transaction', 'Chip Transaction'],
      dtype=object)

In [20]:
ealtman2019_df["Merchant State"].nunique()

223

In [21]:
ealtman2019_df["User"].nunique()

2000

In [22]:
ealtman2019_df["Card"].nunique()

9

In [23]:
ealtman2019_df["Card"].unique()

array([0, 1, 2, 3, 4, 5, 6, 7, 8], dtype=int64)

In [24]:
ealtman2019_df['Amount'].min()

-500

In [25]:
ealtman2019_df['Amount'].max()

12390

In [26]:
# ealtman2019_df[['Amount'] < 0].count()
# negative_amount = (ealtman2019_df['Amount'] < 0).count()
# negative_amount

24386900

In [27]:
limit = 0
column = ealtman2019_df['Amount']
count_under = column[column < limit].count()
count_under

1244559

In [28]:
count_over = column[column > limit].count()
count_over

22964731

In [29]:
count_zero = column[column == limit].count()
count_zero

177610

In [30]:
count = count_over + count_under + count_zero
count

24386900

In [32]:
ealtman2019_df.groupby(['Amount']).count().sort_values(["Is Fraud?"])

,User,Card,Year,Month,Day,Time,Use Chip,Merchant Name,Merchant City,Merchant State,Zip,MCC,Errors?,Is Fraud?
Amount,,,,,,,,,,,,,,
12390,1,1,1,1,1,1,1,1,1,0,0,1,0,1
2172,1,1,1,1,1,1,1,1,1,0,0,1,0,1
2175,1,1,1,1,1,1,1,1,1,1,1,1,0,1
2177,1,1,1,1,1,1,1,1,1,0,0,1,0,1
2179,1,1,1,1,1,1,1,1,1,1,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10,419500,419500,419500,419500,419500,419500,419500,419500,419500,391232,388118,419500,3236,419500
4,531054,531054,531054,531054,531054,531054,531054,531054,531054,516802,512046,531054,3701,531054
3,691777,691777,691777,691777,691777,691777,691777,691777,691777,674635,669511,691777,4581,691777
1,781682,781682,781682,781682,781682,781682,781682,781682,781682,763490,758218,781682,4870,781682
2,847631,847631,847631,847631,847631,847631,847631,847631,847631,823999,818244,847631,5650,847631

In [34]:
fraud_column = ealtman2019_df['Is Fraud?']
fraud_count = fraud_column.count()
fraud_count

24386900

In [37]:
fraud_Zero = fraud_column[fraud_column == 'No'].count()
fraud_Zero

24357143

In [38]:
fraud_One  = fraud_column[fraud_column == 'Yes'].count()
fraud_One

29757

In [40]:
fraud_Total = fraud_Zero + fraud_One
fraud_Total

24386900

In [44]:
ealtman2019_fraudInt = ealtman2019_df.replace({"Yes": 1})
ealtman2019_fraudInt = ealtman2019_df.replace({"No": 0})
ealtman2019_fraudInt.head(100)

,User,Card,Year,Month,Day,Time,Amount,Use Chip,Merchant Name,Merchant City,Merchant State,Zip,MCC,Errors?,Is Fraud?
0,0,0,2002,9,1,06:21,134,Swipe Transaction,3527213246127876953,La Verne,CA,91750.0,5300,NaN,0
1,0,0,2002,9,1,06:42,38,Swipe Transaction,-727612092139916043,Monterey Park,CA,91754.0,5411,NaN,0
2,0,0,2002,9,2,06:22,120,Swipe Transaction,-727612092139916043,Monterey Park,CA,91754.0,5411,NaN,0
3,0,0,2002,9,2,17:45,129,Swipe Transaction,3414527459579106770,Monterey Park,CA,91754.0,5651,NaN,0
4,0,0,2002,9,3,06:23,105,Swipe Transaction,5817218446178736267,La Verne,CA,91750.0,5912,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0,0,2002,10,3,06:50,36,Swipe Transaction,-5475680618560174533,Monterey Park,CA,91755.0,5942,NaN,0
96,0,0,2002,10,4,06:20,115,Swipe Transaction,3527213246127876953,La Verne,CA,91750.0,5300,NaN,0
97,0,0,2002,10,5,09:34,53,Swipe Transaction,-3345936507911876459,La Verne,CA,91750.0,7538,NaN,0
98,0,0,2002,10,5,10:38,17,Swipe Transaction,9137769173591184401,La Verne,CA,91750.0,7210,NaN,0
99,0,0,2002,10,6,06:14,139,Online Transaction,-7421093378627544099,ONLINE,NaN,NaN,5311,NaN,0

In [50]:
ealtman2019_oneHotChip = pd.get_dummies(ealtman2019_df, columns =['Use Chip'])
ealtman2019_oneHotChip

,User,Card,Year,Month,Day,Time,Amount,Merchant Name,Merchant City,Merchant State,Zip,MCC,Errors?,Is Fraud?,Use Chip_Chip Transaction,Use Chip_Online Transaction,Use Chip_Swipe Transaction
0,0,0,2002,9,1,06:21,134,3527213246127876953,La Verne,CA,91750.0,5300,NaN,0,0,0,1
1,0,0,2002,9,1,06:42,38,-727612092139916043,Monterey Park,CA,91754.0,5411,NaN,0,0,0,1
2,0,0,2002,9,2,06:22,120,-727612092139916043,Monterey Park,CA,91754.0,5411,NaN,0,0,0,1
3,0,0,2002,9,2,17:45,129,3414527459579106770,Monterey Park,CA,91754.0,5651,NaN,0,0,0,1
4,0,0,2002,9,3,06:23,105,5817218446178736267,La Verne,CA,91750.0,5912,NaN,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24386895,1999,1,2020,2,27,22:23,-54,-5162038175624867091,Merrimack,NH,3054.0,5541,NaN,0,1,0,0
24386896,1999,1,2020,2,27,22:24,54,-5162038175624867091,Merrimack,NH,3054.0,5541,NaN,0,1,0,0
24386897,1999,1,2020,2,28,07:43,59,2500998799892805156,Merrimack,NH,3054.0,4121,NaN,0,1,0,0
24386898,1999,1,2020,2,28,20:10,43,2500998799892805156,Merrimack,NH,3054.0,4121,NaN,0,1,0,0
24386899,1999,1,2020,2,28,23:10,45,4751695835751691036,Merrimack,NH,3054.0,5814,NaN,0,1,0,0

In [51]:
ealtman2019_oneHotChip["Amount"].describe()

count    2.438690e+07
mean     4.363253e+01
std      8.202357e+01
min     -5.000000e+02
25%      9.000000e+00
50%      3.000000e+01
75%      6.500000e+01
max      1.239000e+04
Name: Amount, dtype: float64

In [ ]:
# count	24386900.00
# mean	43.63
# std	82.02
# min	-500.00
# 25%	9.00
# 50%	30.00
# 75%	65.00
# max	12390.00

In [52]:
amount = ealtman2019_df['Amount']
count_over100 = column[amount > 100].count()
count_over100

2651232

In [53]:
count_under100 = column[amount < 100].count()
count_under100

21452919

In [54]:
count_under50 = column[amount < 50].count()
count_under50

15905733

In [55]:
count_under0 = column[amount < 0].count()
count_under0

1244559

In [86]:
ealtman2019_under0 = ealtman2019_oneHotChip.loc[ealtman2019_oneHotChip['Amount'] < 0]
ealtman2019_under0['Amount'].count()

1244559

In [83]:
ealtman2019_0 = ealtman2019_oneHotChip.loc[ealtman2019_oneHotChip['Amount'] == 0]
ealtman2019_0['Amount'].count()
ealtman2019_0_fraud = ealtman2019_0.loc[ealtman2019_0['Is Fraud?'] == 1]
ealtman2019_0_fraud['Amount'].count()

604

In [61]:
# ealtman2019_under0_fraud = ealtman2019_under0.loc[ealtman2019_under0['Is Fraud?'] == 1]
# ealtman2019_under0 = ealtman2019_oneHotChip.loc[ealtman2019_oneHotChip['Amount'] < 0]
# ealtman2019_under0_fraud

,User,Card,Year,Month,Day,Time,Amount,Merchant Name,Merchant City,Merchant State,Zip,MCC,Errors?,Is Fraud?,Use Chip_Chip Transaction,Use Chip_Online Transaction,Use Chip_Swipe Transaction
4112,0,0,2015,11,20,07:42,-473,-8566951830324093739,ONLINE,NaN,NaN,3640,NaN,1,0,1,0
13699,0,3,2008,10,20,09:23,-298,1715299929786123066,Corona,CA,92881.0,3722,NaN,1,0,0,1
57552,2,1,2018,1,10,17:28,-85,-5162038175624867091,Rome,Italy,NaN,5541,NaN,1,0,0,1
57728,2,1,2018,4,9,18:39,-95,1799189980464955940,Rome,Italy,NaN,5499,NaN,1,0,0,1
107988,5,0,2016,4,5,15:16,-471,483490033258680568,ONLINE,NaN,NaN,3504,NaN,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24353093,1996,3,2014,2,11,05:05,-398,-6796080605569913348,ONLINE,NaN,NaN,4722,NaN,1,0,1,0
24353098,1996,3,2014,2,14,09:19,-310,7501849281341469857,ONLINE,NaN,NaN,4722,NaN,1,0,1,0
24354288,1996,3,2018,10,8,13:01,-351,-7807051024009846392,Rome,Italy,NaN,3684,Bad PIN,1,1,0,0
24354537,1996,3,2019,7,1,11:13,-362,190253443608377572,Rome,Italy,NaN,3359,NaN,1,1,0,0
24372750,1997,1,2018,6,27,11:41,-82,-5162038175624867091,Rome,Italy,NaN,5541,NaN,1,1,0,0

In [64]:
ealtman2019_under0_fraud["Amount"].describe()

count    1125.00000
mean     -281.56000
std       121.55569
min      -500.00000
25%      -384.00000
50%      -276.00000
75%      -183.00000
max       -50.00000
Name: Amount, dtype: float64

In [65]:
ealtman2019_above0 = ealtman2019_oneHotChip.loc[ealtman2019_oneHotChip['Amount'] > 0]

In [66]:
ealtman2019_above0["Amount"].describe()

count    2.296473e+07
mean     5.186581e+01
std      7.432012e+01
min      1.000000e+00
25%      1.200000e+01
50%      3.400000e+01
75%      6.800000e+01
max      1.239000e+04
Name: Amount, dtype: float64

In [ ]:
# count	22964730.00
# mean	51.87
# std	74.32
# min	1.00
# 25%	12.00
# 50%	34.00
# 75%	68.00
# max	12390.00

In [75]:
ealtman2019_75percent = ealtman2019_oneHotChip.loc[ealtman2019_oneHotChip['Amount'] > 68]
ealtman2019_75percent['Amount'].describe()
ealtman2019_75percent['Amount'].count()

5722355

In [70]:
ealtman2019_thousand = ealtman2019_oneHotChip.loc[ealtman2019_oneHotChip['Amount'] > 1000]
ealtman2019_thousand['Amount'].describe()

count    16825.000000
mean      1295.533314
std        372.673355
min       1001.000000
25%       1082.000000
50%       1196.000000
75%       1385.000000
max      12390.000000
Name: Amount, dtype: float64

In [74]:
ealtman2019_500 = ealtman2019_oneHotChip.loc[ealtman2019_oneHotChip['Amount'] > 500]
ealtman2019_500['Amount'].describe()

count    79139.000000
mean       824.606831
std        323.479680
min        501.000000
25%        600.000000
50%        740.000000
75%        954.000000
max      12390.000000
Name: Amount, dtype: float64

In [76]:
ealtman2019_100 = ealtman2019_oneHotChip.loc[ealtman2019_oneHotChip['Amount'] > 100]
ealtman2019_100['Amount'].describe()

count    2.651232e+06
mean     1.869089e+02
std      1.458164e+02
min      1.010000e+02
25%      1.200000e+02
50%      1.410000e+02
75%      1.910000e+02
max      1.239000e+04
Name: Amount, dtype: float64

In [ ]:
# count	2,651,232.00
# mean	186.91
# std	145.82
# min	101.00
# 25%	120.00
# 50%	141.00
# 75%	191.00
# max	12390.00

In [79]:
ealtman2019_300 = ealtman2019_oneHotChip.loc[ealtman2019_oneHotChip['Amount'] > 300]
ealtman2019_300['Amount'].describe()

count    268565.000000
mean        514.205507
std         270.958304
min         301.000000
25%         350.000000
50%         421.000000
75%         555.000000
max       12390.000000
Name: Amount, dtype: float64

In [84]:
ealtman2019_200 = ealtman2019_oneHotChip.loc[ealtman2019_oneHotChip['Amount'] > 200]
ealtman2019_200['Amount'].describe()

count    591039.000000
mean        364.446751
std         229.052311
min         201.000000
25%         231.000000
50%         285.000000
75%         405.000000
max       12390.000000
Name: Amount, dtype: float64

In [85]:
ealtman2019_50 = ealtman2019_oneHotChip.loc[ealtman2019_oneHotChip['Amount'] > 50]
ealtman2019_50['Amount'].describe()

count    8.311993e+06
mean     1.090011e+02
std      9.885612e+01
min      5.100000e+01
25%      6.400000e+01
50%      8.300000e+01
75%      1.180000e+02
max      1.239000e+04
Name: Amount, dtype: float64

In [ ]:
# count	8311993.00
# mean	109.00
# std	98.86
# min	51.00
# 25%	64.00
# 50%	83.00
# 75%	118.00
# max	12390.00

In [87]:
ealtman2019_75 = ealtman2019_oneHotChip.loc[ealtman2019_oneHotChip['Amount'] > 75]
ealtman2019_75['Amount'].describe()

count    5.014275e+06
mean     1.400993e+02
std      1.171743e+02
min      7.600000e+01
25%      8.700000e+01
50%      1.040000e+02
75%      1.450000e+02
max      1.239000e+04
Name: Amount, dtype: float64

In [90]:
ealtman2019_145 = ealtman2019_oneHotChip.loc[ealtman2019_oneHotChip['Amount'] > 145]
ealtman2019_145['Amount'].describe()

count    1.241112e+06
mean     2.618608e+02
std      1.862156e+02
min      1.460000e+02
25%      1.640000e+02
50%      1.970000e+02
75%      2.780000e+02
max      1.239000e+04
Name: Amount, dtype: float64