In [1]:
%matplotlib inline
import pandas as pd
import matplotlib as plt
import sklearn as skl
import tensorflow as tf
from sklearn.preprocessing import OneHotEncoder

In [2]:
ealtman2019_df = pd.read_csv("./Resources//ealtman2019/credit_card_transactions-ibm_v2.csv")
ealtman2019_df.head()

,User,Card,Year,Month,Day,Time,Amount,Use Chip,Merchant Name,Merchant City,Merchant State,Zip,MCC,Errors?,Is Fraud?
0,0,0,2002,9,1,06:21,$134.09,Swipe Transaction,3527213246127876953,La Verne,CA,91750.0,5300,NaN,No
1,0,0,2002,9,1,06:42,$38.48,Swipe Transaction,-727612092139916043,Monterey Park,CA,91754.0,5411,NaN,No
2,0,0,2002,9,2,06:22,$120.34,Swipe Transaction,-727612092139916043,Monterey Park,CA,91754.0,5411,NaN,No
3,0,0,2002,9,2,17:45,$128.95,Swipe Transaction,3414527459579106770,Monterey Park,CA,91754.0,5651,NaN,No
4,0,0,2002,9,3,06:23,$104.71,Swipe Transaction,5817218446178736267,La Verne,CA,91750.0,5912,NaN,No

In [3]:
locations_df = ealtman2019_df[["Merchant City", "Merchant State","Is Fraud?"]]
locations_df.head()

   Merchant City Merchant State Is Fraud?
0       La Verne             CA        No
1  Monterey Park             CA        No
2  Monterey Park             CA        No
3  Monterey Park             CA        No
4       La Verne             CA        No

In [4]:
locations_df.to_csv('./Resources/ealtman2019/locations.csv', encoding='utf-8', index=False)

In [5]:
locations_df['Merchant City'].nunique()

13429

In [6]:
locations_df['Merchant City'].unique()

array(['La Verne', 'Monterey Park', 'ONLINE', ..., 'Alburgh', 'Buskirk',
       'Mooers'], dtype=object)

In [7]:
locations_df['Merchant State'].nunique()

223

In [8]:
locations_df['Merchant State'].unique()

array(['CA', nan, 'NE', 'IL', 'MO', 'Switzerland', 'IA', 'TX', 'Estonia',
       'NJ', 'NV', 'NY', 'Japan', 'AZ', 'UT', 'FL', 'MI', 'Mexico', 'WA',
       'OH', 'Dominican Republic', 'NM', 'China', 'SC', 'AK', 'PA', 'VA',
       'Portugal', 'HI', 'CT', 'MA', 'MN', 'CO', 'Italy', 'GA',
       'Philippines', 'Jamaica', 'AR', 'Canada', 'OR', 'WI', 'NC',
       'France', 'WV', 'Norway', 'ME', 'NH', 'VT', 'MD', 'AL', 'KY', 'TN',
       'MS', 'New Zealand', 'Netherlands', 'KS', 'ND', 'DC',
       'Sierra Leone', 'Haiti', 'MT', 'South Korea', 'Spain', 'OK',
       'Algeria', 'Egypt', 'WY', 'ID', 'Indonesia', 'RI',
       'United Kingdom', 'Colombia', 'South Africa', 'IN', 'The Bahamas',
       'Singapore', 'Pakistan', 'Malaysia', 'Mongolia', 'Israel',
       'Hong Kong', 'Guatemala', 'Peru', 'Thailand', 'Sweden', 'Taiwan',
       'LA', 'Germany', 'Czech Republic', 'India', 'Poland', 'DE',
       'Costa Rica', 'Denmark', 'Bangladesh', 'Macedonia', 'Nigeria',
       'SD', 'Tuvalu', 'Ireland', 'Vatican City', 'Lithuania',
       'Papua New Guinea', 'Belgium', 'Benin', 'Croatia', 'Saudi Arabia',
       'Latvia', 'Austria', 'Slovenia', 'Turkey', 'Russia', 'Greece',
       'Slovakia', 'Brazil', 'Hungary', 'Argentina', 'Serbia', 'Ghana',
       'Oman', 'United Arab Emirates', 'Finland', 'Barbados', 'Australia',
       'Vietnam', 'Micronesia', 'Aruba', 'Liechtenstein', 'Cambodia',
       'Kosovo', 'South Sudan', 'Luxembourg', 'Myanmar (Burma)',
       'Maldives', 'Samoa', 'Burkina Faso', 'Moldova', 'Eritrea', 'Chile',
       'Belarus', 'Venezuela', 'Georgia', 'Tanzania', 'Iceland', 'Iran',
       'Honduras', 'Sao Tome and Principe', 'Kenya', 'Kiribati', 'Fiji',
       'Kuwait', 'Uzbekistan', 'Romania', 'Panama', 'AA', 'Ethiopia',
       'Zimbabwe', 'Ecuador', 'Cyprus', 'Djibouti', 'Cameroon', 'Yemen',
       'Uruguay', 'Nicaragua', 'Swaziland', 'Sri Lanka', 'Morocco',
       'Malawi', 'Togo', 'Monaco', 'Lebanon', 'Cabo Verde', 'Suriname',
       'Mozambique', 'Liberia', 'Ukraine', 'Somalia', 'El Salvador',
       'Azerbaijan', 'Bulgaria', 'Jordan', 'Botswana', 'Senegal',
       'Bahrain', 'Sudan', 'Niger', 'Albania', 'Mali', 'Tunisia',
       'Saint Vincent and the Grenadines', 'Marshall Islands',
       'Republic of the Congo', 'Bosnia and Herzegovina', 'Syria',
       'Montenegro', 'Iraq', 'Uganda', 'Guinea', 'Gabon',
       'Equatorial Guinea', 'Brunei', 'Vanuatu', 'Saint Lucia',
       "Cote d'Ivoire", 'Comoros', 'Guyana', 'Malta', 'Solomon Islands',
       'Belize', 'Nauru', 'Trinidad and Tobago', 'Zambia',
       'Democratic Republic of the Congo', 'Dominica', 'Paraguay',
       'Tonga', 'Angola', 'Kyrgyzstan', 'Antigua and Barbuda',
       'Central African Republic', 'Qatar', 'East Timor (Timor-Leste)',
       'Seychelles', 'Andorra'], dtype=object)

In [9]:
fraud_locations = locations_df[locations_df['Is Fraud?'].str.contains('Yes')]

In [10]:
cols=['Merchant City','Merchant State']

fraud_locations['location'] = fraud_locations[cols].apply(lambda x: ','.join(x.values.astype(str)), axis="columns")

C:\Users\Aaron\AppData\Local\Temp\ipykernel_11232\473548575.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fraud_locations['location'] = fraud_locations[cols].apply(lambda x: ','.join(x.values.astype(str)), axis="columns")

In [11]:
fraud_locations.head()

     Merchant City Merchant State Is Fraud?    location
4099        ONLINE            NaN       Yes  ONLINE,nan
4100        ONLINE            NaN       Yes  ONLINE,nan
4101        ONLINE            NaN       Yes  ONLINE,nan
4102        ONLINE            NaN       Yes  ONLINE,nan
4103        ONLINE            NaN       Yes  ONLINE,nan

In [12]:
fraud_locations['location'].nunique()

2207

In [ ]:
# fraud_locations = locations_df[locations_df['Is Fraud?'].str.contains('Yes')]

In [13]:
fraud_locations = fraud_locations[fraud_locations.location != "ONLINE,nan"]

In [14]:
fraud_locations['location'].nunique()

2206

In [15]:
fraud_locations['location'].unique()

array(['Claremont,CA', 'Pasadena,CA', 'Upland,CA', ..., 'Maysville,KY',
       'Erlanger,KY', 'Linden,NJ'], dtype=object)

In [16]:
fraud_locations = fraud_locations['location']

In [17]:
fraud_locations

9761        Claremont,CA
13678        Pasadena,CA
13683          Upland,CA
13684        La Verne,CA
13685          Corona,CA
                ...
24372751      Rome,Italy
24372753      Rome,Italy
24372754      Rome,Italy
24372757      Rome,Italy
24372760      Rome,Italy
Name: location, Length: 11408, dtype: object

In [20]:
fraud_locations = fraud_locations.drop_duplicates()

In [21]:
fraud_locations.to_csv('./Resources/ealtman2019/unique_locations.csv', encoding='utf-8', index=False)